<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head'); %>
    <style>
      /* CSS for the spinner */
      .spinner {
        border: 4px solid rgba(0, 0, 0, 0.1);
        border-left-color: #7983ff;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        animation: spin 1s linear infinite;
      }

      @keyframes spin {
        to {
          transform: rotate(360deg);
        }
      }

      /* CSS for the modal overlay */
      .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
        z-index: 999; /* ensure modal is on top of other elements */
        display: none; /* hidden by default */
      }

      /* CSS for the modal content */
      .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        /* padding: 20px; */
        border-radius: 5px;
      }

      /* Define styles for the popup card */
      .popup-card {
        position: fixed;
        top: 20px; /* Adjust top position */
        left: 50%; /* Position at the horizontal center */
        transform: translateX(-50%); /* Center horizontally */
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        display: none; /* Initially hidden */
      }
    </style>
  </head>
  <body class="dark:bg-greyt overscroll-none">
    <div class="w-full flex justify-between p-5">
      <div>
        <p
          class="text-3xl font-semibold text-gray-900 hover:cursor-none dark:text-white"
        >
          Poke<span class="text-greent dark:text-greent">Api</span>
        </p>
      </div>
      <div class="flex space-x-7">
        <button
          id="theme-toggle"
          type="button"
          class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5"
        >
          <svg
            id="theme-toggle-dark-icon"
            class="hidden w-5 h-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"
            ></path>
          </svg>
          <svg
            id="theme-toggle-light-icon"
            class="hidden w-5 h-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
              fill-rule="evenodd"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>

        <form method="post" action="/api/auth/logout">
          <button
            type="submit"
            class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800"
          >
            Logout
          </button>
        </form>
      </div>
    </div>

    <div
      class="flex text-sm text-gray-900 hover:cursor-none dark:text-white space-x-3 ml-8"
    >
      <% if (user) { %>
      <p>
        WELCOME,
      </p>
      <h2><%= user.email %></h2>
      <% } %>
    </div>
    <div class="w-[85%] mx-auto mt-[100px]">
      <div class="flex w-full justify-between">
        <div>
          <p
            class="text-xl font-semibold text-gray-900 hover:cursor-none dark:text-white leading-tight"
          >
            API Keys
          </p>
          <p class="text-sm text-gray-900 hover:cursor-none dark:text-white">
            Have access to our api suite with your secret keys
          </p>
        </div>
        <form method="get" action="/api/auth/createapikey">
          <button
            type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            onclick="activateSpinner()"
          >
            Create New API key
          </button>
        </form>
      </div>
      <div
        class="flex w-full mt-10 shadow-lg shadow-slate-300 dark:shadow-black"
      >
        <table
          class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
        >
          <thead
            class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
          >
            <tr>
              <th scope="col" class="px-6 py-3">
                Key value
              </th>
              <th scope="col" class="px-6 py-3">
                created
              </th>
              <th scope="col" class="px-6 py-3">
                status
              </th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              >
                Apple MacBook Pro 17"
              </th>
              <td class="px-6 py-4">
                Silver
              </td>
              <td class="flex w-full pl-6 py-4 justify-between">
                Laptop
                <button
                  class="mr-6 text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-sm w-full sm:w-auto px-2.5 py-1 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800"
                >
                  x
                </button>
              </td>
            </tr> -->
            <% if (apikeys.length > 0) { %> <% apikeys.forEach(element => { %>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                id="api-key-text-<%= element.id %>"
              >
                <%= element.keyValue %>
                <button>
                  <svg
                    class="w-6 h-6 text-gray-800 dark:text-white"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="none"
                    viewBox="0 0 24 24"
                    onclick="copyApiKey('api-key-text-<%= element.id %>')"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M9 8v3a1 1 0 0 1-1 1H5m11 4h2a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1h-7a1 1 0 0 0-1 1v1m4 3v10a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1v-7.13a1 1 0 0 1 .24-.65L7.7 8.35A1 1 0 0 1 8.46 8H13a1 1 0 0 1 1 1Z"
                    />
                  </svg>
                </button>
              </th>
              <td class="px-6 py-4">
                <%= element.createdAt %>
              </td>
              <td class="flex w-full pl-6 py-4 justify-between">
                <%= element.expired %>
                <form
                  method="post"
                  action="/api/auth/deleteapikey"
                  onclick="activateSpinner()"
                >
                  <input
                    class="hidden"
                    type="keyId"
                    id="keyId"
                    name="keyId"
                    value="<%=element.id%>"
                  />
                  <button
                    class="mr-6 text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-sm w-full sm:w-auto px-2.5 py-1 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800"
                  >
                    x
                  </button>
                </form>
              </td>
            </tr>
            <% }) %> <% } %>
          </tbody>
        </table>
      </div>
    </div>

    <div id="modalOverlay" class="modal-overlay"></div>

    <!-- Modal content -->
    <div id="modalContent" class="modal-content">
      <div
        id="spinnerContainer"
        class="spinner-container"
        style="display: none;"
      >
        <div class="spinner"></div>
      </div>
    </div>

    <div id="popup-card" class="popup-card">
      <span id="popup-card-message"></span>
    </div>

    <script>
      // Function to activate the spinner
      function activateSpinner() {
        var spinnerContainer = document.getElementById("spinnerContainer");
        var modalOverlay = document.getElementById("modalOverlay");

        spinnerContainer.style.display = "block";
        modalOverlay.style.display = "block";
      }

      function copyApiKey(elementId) {
        const apiKey = document.getElementById(elementId).textContent;
        navigator.clipboard.writeText(apiKey);

        // Show the popup card
        const popupCard = document.getElementById("popup-card");
        const popupMessage = document.getElementById("popup-card-message");
        popupMessage.textContent = "API Key copied to clipboard";
        popupCard.style.display = "block";

        // Hide the popup card after 2 seconds
        setTimeout(() => {
          popupCard.style.display = "none";
        }, 2000);
      }
    </script>

    <script src="/public/darkmode.js"></script>
  </body>
</html>
